In [1]:
import pandas as pd

In [20]:
cols = ['diabet','s_test','f_test','l_test','a_test','b_test','y_test']
diabetes_train = pd.read_excel('Data.xlsx',sheet_name="5464 kisi",names=cols)

In [36]:
diabetes_train.head(10)

   diabet  s_test  f_test    l_test  a_test  b_test  y_test
0       0     NaN     NaN  0.333333    0.01     NaN    50.0
1       0     NaN     NaN  0.752475    0.01     NaN    51.0
2       0     NaN     NaN  0.850962    0.01    23.3    51.0
3       0     NaN     NaN  0.900990    0.01     NaN    53.0
4       0     NaN     NaN  0.269231    0.01    24.6    54.0
5       0    74.8     1.7  2.601942    0.02     NaN    46.0
6       0     NaN     NaN  1.527157    0.02     NaN    46.0
7       0     NaN     NaN  0.679739    0.02     NaN    49.0
8       0     NaN     NaN  1.779141    0.02     NaN    49.0
9       0     NaN     NaN  2.680000    0.02     NaN    53.0

In [22]:
from fancyimpute import KNN

In [23]:
diabets_filled_knn = KNN(k=3).fit_transform(diabetes_train)

Imputing row 1/5463 with 3 missing, elapsed time: 6.871
Imputing row 101/5463 with 2 missing, elapsed time: 6.885
Imputing row 201/5463 with 2 missing, elapsed time: 6.910
Imputing row 301/5463 with 3 missing, elapsed time: 6.934
Imputing row 401/5463 with 3 missing, elapsed time: 6.950
Imputing row 501/5463 with 1 missing, elapsed time: 6.968
Imputing row 601/5463 with 1 missing, elapsed time: 6.997
Imputing row 701/5463 with 2 missing, elapsed time: 7.024
Imputing row 801/5463 with 0 missing, elapsed time: 7.039
Imputing row 901/5463 with 0 missing, elapsed time: 7.054
Imputing row 1001/5463 with 2 missing, elapsed time: 7.077
Imputing row 1101/5463 with 2 missing, elapsed time: 7.102
Imputing row 1201/5463 with 0 missing, elapsed time: 7.117
Imputing row 1301/5463 with 3 missing, elapsed time: 7.130
Imputing row 1401/5463 with 2 missing, elapsed time: 7.143
Imputing row 1501/5463 with 0 missing, elapsed time: 7.153
Imputing row 1601/5463 with 2 missing, elapsed time: 7.166
Imputing row 1701/5463 with 2 missing, elapsed time: 7.179
Imputing row 1801/5463 with 2 missing, elapsed time: 7.191
Imputing row 1901/5463 with 3 missing, elapsed time: 7.208
Imputing row 2001/5463 with 0 missing, elapsed time: 7.223
Imputing row 2101/5463 with 0 missing, elapsed time: 7.235
Imputing row 2201/5463 with 2 missing, elapsed time: 7.256
Imputing row 2301/5463 with 2 missing, elapsed time: 7.272
Imputing row 2401/5463 with 2 missing, elapsed time: 7.288
Imputing row 2501/5463 with 3 missing, elapsed time: 7.300
Imputing row 2601/5463 with 1 missing, elapsed time: 7.313
Imputing row 2701/5463 with 0 missing, elapsed time: 7.323
Imputing row 2801/5463 with 2 missing, elapsed time: 7.333
Imputing row 2901/5463 with 1 missing, elapsed time: 7.345
Imputing row 3001/5463 with 2 missing, elapsed time: 7.356
Imputing row 3101/5463 with 2 missing, elapsed time: 7.367
Imputing row 3201/5463 with 2 missing, elapsed time: 7.376
Imputing row 3301/5463 with 2 missing, elapsed time: 7.387
Imputing row 3401/5463 with 0 missing, elapsed time: 7.398
Imputing row 3501/5463 with 2 missing, elapsed time: 7.408
Imputing row 3601/5463 with 0 missing, elapsed time: 7.417
Imputing row 3701/5463 with 0 missing, elapsed time: 7.427
Imputing row 3801/5463 with 2 missing, elapsed time: 7.435
Imputing row 3901/5463 with 1 missing, elapsed time: 7.446
Imputing row 4001/5463 with 1 missing, elapsed time: 7.455
Imputing row 4101/5463 with 3 missing, elapsed time: 7.464
Imputing row 4201/5463 with 0 missing, elapsed time: 7.473
Imputing row 4301/5463 with 0 missing, elapsed time: 7.483
Imputing row 4401/5463 with 2 missing, elapsed time: 7.491
Imputing row 4501/5463 with 1 missing, elapsed time: 7.499
Imputing row 4601/5463 with 0 missing, elapsed time: 7.510
Imputing row 4701/5463 with 0 missing, elapsed time: 7.521
Imputing row 4801/5463 with 3 missing, elapsed time: 7.536
Imputing row 4901/5463 with 3 missing, elapsed time: 7.550
Imputing row 5001/5463 with 3 missing, elapsed time: 7.565
Imputing row 5101/5463 with 3 missing, elapsed time: 7.580
Imputing row 5201/5463 with 0 missing, elapsed time: 7.594
Imputing row 5301/5463 with 1 missing, elapsed time: 7.609
Imputing row 5401/5463 with 0 missing, elapsed time: 7.631

In [24]:
diabets_full = pd.DataFrame(diabets_filled_knn, columns=['diabet','s_test','f_test','l_test','a_test','b_test','y_test'])

In [25]:
diabets_full.isna().sum()

diabet    0
s_test    0
f_test    0
l_test    0
a_test    0
b_test    0
y_test    0
dtype: int64

In [26]:
X = diabets_full[['s_test','f_test','l_test','a_test','b_test','y_test']]
y = diabets_full['diabet']

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [28]:
import xgboost as xgb

In [29]:
model_xgb = xgb.XGBClassifier(objective="binary:logistic")

In [30]:
model_xgb.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [31]:
y_pred_xgb=model_xgb.predict(X_test)

In [32]:
from sklearn.metrics import accuracy_score,cohen_kappa_score,confusion_matrix,classification_report

In [33]:
accuracy_score(y_pred_xgb,y_test)

0.9853569249542404

In [34]:
print(classification_report(y_test, y_pred_xgb, labels=[1, 0]))

              precision    recall  f1-score   support

           1       0.98      0.95      0.96       335
           0       0.99      0.99      0.99      1304

    accuracy                           0.99      1639
   macro avg       0.98      0.97      0.98      1639
weighted avg       0.99      0.99      0.99      1639

In [35]:
import pickle
with open('diabet_xgboost.pkl', 'wb') as file:
    pickle.dump(model_xgb, file)

# tahmin

In [3]:
import pickle
import pandas as pd

In [4]:
with open(f'diabet_xgboost.pkl', 'rb') as f:
    model = pickle.load(f)

In [5]:
s_test = 34
f_test = 2
l_test = 226
a_test = 7
b_test = 3.4
y_test = 9

In [6]:
 input_variables = pd.DataFrame([[s_test,f_test,l_test,a_test,b_test,y_test]],
                                       columns=['s_test', 'f_test', 'l_test','a_test','b_test','y_test'],
                                       dtype=float,
                                       index=['input'])

In [7]:
prediction = model.predict(input_variables)[0]

In [8]:
prediction

1.0

In [9]:
original_input={'s_test':s_test,
                                                     'f_test':f_test,
                                                     'l_test':l_test,
                                                     'a_test':a_test,
                                                     'b_test':b_test,
                                                     'y_test':y_test}

In [10]:
for variable, value in original_input.items():
    print(variable,value)

s_test 34
f_test 2
l_test 226
a_test 7
b_test 3.4
y_test 9

# Bundan sonraki calisma diabet dosyasi ile ayni, bundan oncekiler yeni calisma

In [ ]:
from sklearn.externals import joblib
joblib.dump(model_xgb, 'model_diabet.pkl')

In [ ]:
model_xgb._Booster.save_model('model.bst')

# DMatrix ile tahmin

In [ ]:
import xgboost as xgb

In [ ]:
bst = xgb.Booster({'nthread': 4})  # init model

In [ ]:
bst.load_model('model.bst')

In [ ]:
data = [38,3.6,0.35,2,23,50]

In [ ]:
dtest = xgb.DMatrix(data)

In [ ]:
bst.predict(dtest)

# Pickle

In [ ]:
import pickle

In [ ]:
pickle.dump(model_xgb, open('model_xgb.pkl','wb'))

In [ ]:
list(X.columns)

In [ ]:
# Save column names to persist the features in deployment phase
pickle.dump(list(X.columns), open('model_features.pkl','wb'))